/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 80%;
  margin: auto;
  border: 1px solid rgb(208, 49, 130);
  height: 100vh;
}
.nav-left, .nav-right{
  /* border: 1px solid red; */
  width: 50%;
  font-size: 20px;
  text-align: center;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
.nav-left ul li, .nav-right ul li{
  display: inline-block;
  list-style: none;
  padding: 0px 5px;
  position: relative;
  line-height: 80px;
  font-weight: bold;

}
.nav-left .logo{
  width: 100px;
}
img{
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: -4px;
}
button{
  background-color: rgb(208, 49, 130);
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  color: white;

}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
strong{
  color: black;
}
a{
  color: lightgrey;
  text-decoration: none;

}
a:hover{
  color: black;
}
/* MENU DROPDWON */
.nav-right .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  border: 1px solid lightgrey;
  right: -64px;
}
.nav-right .dropdown li {
  line-height: 40px;
  width: 200px;
  color: lightgrey;
}
.nav-right .dropdown:hover {
  box-shadow:2px 2px 2px 2px #ccc;
  color: black;
}

.dropdown.active{
  display: flex;
}

.fa-chevron-down, .fa-chevron-up{
  font-size: 12px;
}
